[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
ipython = "*"

[packages]
pdbpp = "*"
click = "*"
aioconsole = "*"
readline = "*"

[requires]
python_version = "3.7"
